
# --- BACKEND (Privadas - Nadie las verá) ---

#MOISES
JWT_SECRET:_MGN=
GOOGLE_CLIENT_SECRET_MGN=
CLIENT_ID_MGN=

#SERGIO
JWT_SECRET_SDV=
GOOGLE_CLIENT_SECRET_SDV=
CLIENT_ID_SDV=

#RICARDO
JWT_SECRET_RFR=
GOOGLE_CLIENT_SECRET_RFR=
CLIENT_ID_RFR=
# Añade aquí cualquier otra clave secreta o contraseña de base de datos